*{
    padding: 0px;
    margin: opx;
}
body{
    background-color: palegoldenrod;
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    justify-content: center;
    widows: 100%;
    position: absolute;
    bottom: 0px;
}
.a{
    position: relative;
    top: 0px;
    width: 120px;
    border-radius: 10px;
    height: 120px;
    box-shadow: -2px -2px 2px black;
    margin-left: -50px;
    transform: rotateY(30deg) skewY(-30deg);
    transition: transform 0.2s;
}
.a:hover{
    z-index: 3;
    transform: rotateY(0deg) skewY(0deg) translate(-60px);
}
#imgcontainer{
    width: 400px;
    height: 260px;
    border: 2px solid black;
    margin-top: 6
    0px;
    background-image: url(./0.jpg);
    background-size: 100% 100%;
    box-shadow: 5px 5px 5px black;
}